/*==============================================================================
    CONTENTS:
    
    1. CSS RESET.
    2. SITE PRELOADER.
    3. HEADER STYLE:
        3.1. Top bar.
        3.2. Main menu.
        3.3. Top Search.
        3.4. Top Cart.
        3.5. Header Styles.
    4. PAGE TITLES.
    5. PAGE SPECIFIC STYLES:
        portfolio.
        Blog.
        widgets.
		About.
		login.
		coming soon.
		404 not found.
		Site Map.
    6. TYPOGRAPHY.
    7. FOOTER.
    	Footer 1.
    	Footer 2.
    	Footer 3.
    	Footer Light.
    	Footer Minimal.
    	Fixed Footer.
    8. BOXED MODE.
    9. RESPONSIVE DESIGN.
   
/* ==========================================================================
  1. CSS RESET
============================================================================= */
body {
	font-family:"Lato",sans-serif !important;
	line-height:1.5;
	-webkit-font-smoothing: antialiased;
}
:active,
:focus { outline: none !important; }
a:focus,
a:hover {text-decoration:none;}
iframe {
    border-width: 3px;
    border-color: #0067CC;
}
h1, h2, h3, h4 {
	margin: 0 0 8px;
	line-height:1.5;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
}
h5, h6{
	margin: 0 0 30px;
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}

header ul,footer ul,.top-bar ul,.lft-tools ul,.post-info ul,.recent-posts-widget ul,.center-v-menu ul,.pricing-tbl ul,.sidebar ul,ul.details,ul.comment-list,ul.list,.w-recent-posts ul{
	list-style:none;
	margin:0;
	padding:0
}
.header-1 .top-nav > ul > li > a > span:before,.skew-nav > ul > li > a > span:before,.icon-box-1 .box-number span:after,.post-item .post-image:after,.post-item .lft-tools:before,.p-style2 figure:after,.p-style3 figure:after,.team-box.box-1 .team-img span,.rect-angles:before,
.rect-angles:after,.rect-angles span:before,.rect-angles span:after,.team-box.box-1 .team-socials:after,.header-2 .top-nav > ul > li > a:before,.icon-bg:after,.icon-border:after,.steps-2 .step-title:after,.steps-4 .step-line:before{
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:inline-block
}

.f-left{
	float:left;
}
.f-right{
	float:right;
}

#contact-section{
    position:relative;
    bottom:21px;
}
.fx {
    opacity: 0;
}
.animated {
    opacity: 1;
}
/* ==========================================================================
  2. SITE PRELOADER
============================================================================= */
.page-loader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999
}

/* =========================================================================
	3.HEADER STYLE.
============================================================================ */
/*
-------------- 3.1. Top bar. ------------- */
.top-bar {
	min-height: 40px;
	position:relative;
	z-index: 9;
}
.top-bar ul li,.absolute-top-bar ul li,.top-bar .social-list a i {
	float: left;
	line-height: 25px;
	position:relative;
	padding: 0 10px;
	font-size:11px;
	border-left: 1px rgba(0,0,0,0.06) solid !important;
}
.top-bar ul li:hover, .absolute-top-bar ul li:hover {
    background-color: rgba(0,0,0,0.03)
}
.top-bar ul li:last-child, .absolute-top-bar ul li:last-child, .top-bar .social-list a:last-child i {
    border-right: 1px rgba(0,0,0,0.06) solid !important
}

.top-bar ul li,.top-bar .lbl-txt {
	line-height: 40px;
	padding-right: 10px;
	font-size: 14px
}

.top-bar i, .absolute-top-bar i, .list li i {
    margin-right: 8px;
}


/* -------------- 3.2. Top Head. ------------- */

.top-head .container {
	position:relative;
}
.top-head .responsive-nav{
	float:right
}
.top-head .logo {
	position:relative;
	float:left;
}
.top-head .logo a{
	display:block
}
.top-head .logo img{
	height:100px;
}
.top-head .title {
	position:relative;
	float:left;
	padding-top: 30px;
	padding-left: 10px; 
}
.top-head .title h1, h4{
	line-height: 23px;
}
.top-head .title a{
	display:block
}

/* ----------------- top nav ------------------ */
.top-nav {
	float:left;
	min-height:1px
}
.top-nav li {
	position:relative;
}
.top-nav li i {
	margin-right:8px;
	font-size:12px
}
.top-nav > ul > li {
	float:left;
	padding: 0;
}
.top-nav > ul > li > a {
	font-weight:700;
	z-index:2;
	position: relative;
	display:block;
	margin: 0;
}

.top-nav > ul > li > a > span, .top-nav > ul > li > span > a > span {
    line-height: 114px !important;
    display: block;
    position: relative;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 800;
}

.top-nav ul li ul {
	position:absolute;
	top:100%;
	left:0;
	min-width:220px;
	z-index: 0;
	max-height: 0;
	-webkit-transition: max-height 1ms linear 1s;
	-moz-transition: max-height 1ms linear 1s;
}

.top-nav ul li:hover > ul{
	z-index: 10;
	max-height: 2000px;
	-webkit-transition: none;
	-moz-transition: none;
}

.top-nav ul ul li{
	opacity: 0;
	-webkit-transition: opacity .4s, -webkit-transform .6s, max-height .6s;
	transition: opacity .4s, transform .6s, max-height .6s;
	border-top:1px rgba(255,255,255,.2) solid;
	border-bottom:1px rgba(0,0,0,.1) solid;
}
.top-nav ul li:hover > ul > li, .top-nav ul li:focus > ul > li {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
.top-nav ul li ul li {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}
.top-nav > ul > li.hasChildren > a > span:after {
	display:inline-block;
	position:relative;
	font:normal normal normal 8px/1 FontAwesome;
	content:"\f078";
	margin-left:5px;
	top:-1px;
}
.top-nav > ul > li.hasChildren:hover > a > span:after,.rot-lft {
	-webkit-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
.top-nav ul li li.hasChildren > a:before {
	content:"\f105";
	float:right;
	display:inline-block;
	position:relative;
	font:normal normal normal 12px/1 FontAwesome;
	top:3px
}
.top-nav li li a {
	display:block;
	padding:13px 15px;
	position:relative;
	overflow:hidden
}

.top-nav li li a:after{
	background-color: rgba(0,0,0,.2);
	content: "";
	height: 100%;
	left: -140%;
	opacity: .2;
	position: absolute;
	top: 0;
	transform: skew(-38deg, 0deg) ;
	-webkit-transform: skew(-38deg, 0deg) ;
	-webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
	width: 120%;
	border-right:15px #fff solid
}
.top-nav li li:not(.selected):hover > a:after{
	left: -8%;
	-webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}
.top-nav li li:hover > a{
	padding-left:20px
}

/* -------------------------- Skew Header ------------------- */

.top-nav > ul > li.selected > a > span > i,.top-nav > ul > li:hover > a > span > i{
	color:#fff
}


/* --------------- transparent header ------------- */

.top-head:not(.sticky-nav).minimal .logo{
    padding: 7px 0;
}




/* --------------- Sticky Header --------------- */
.top-head.sticky-nav {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:99;
	border-bottom:0 !important;
	background-image: none;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
	margin-top: 0 !important
}

.top-head:not(.header-1).sticky-nav .logo{
	padding: 7px 0 !important;
	border-right:0 !important;
}


/* --------------- Responsive Menu ------------- */
.newNav{
    position: fixed;
    top: 15px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
    -webkit-transition: all 0.2s linear;
    z-index: 9999;
    border-radius: 3px;
}

.clo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999;
    background-color: transparent;
}
.newNav > span{
	display: block;
	float: left;
	clear: both;
	height: 3px;
	width: 22px;
	background-color: #fff;
	position: absolute;
	left: 9px;
	top: 11px;
	overflow: hidden;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

.newNav > span:nth-child(2){
	margin-top: 7px;
}
.newNav > span:nth-child(3){
	margin-top: 14px;
}
.responsive-menu > ul{
	transition: all 0.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
	-wekit-transition: all 0.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
	height: 0;
	width: 0;
	left: 15px;
	top: 15px;
	position: absolute;
	z-index: 18;
	overflow: hidden;
}
.responsive-menu > ul li{
	display: block;
	margin-left: -160px;
	transition: all 0.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
	-wekit-transition: all 0.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}
.responsive-menu > ul li li{
	margin:0 !important;
	padding:0
}
.responsive-menu > ul li a,.responsive-menu > ul li h4{
	display:block;
	line-height: 50px;
	color:#fff;
	font-size: 15px;
	border-bottom: 1px rgba(255,255,255,.2) solid;
	padding: 0 10px;
	margin:0
}
.responsive-menu > ul li i{
	margin-right:8px;
}
.top-nav ul li li i{
	color: #fff
}
.child-arrow {
	float:right;
	display: block;
	position:relative;
	font-size: 18px;
	top: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.responsive-menu ul ul{
	display:none;
	padding: 0;
	margin:0;
	background-color: rgba(255, 255, 255, 0.14);
}
    .responsive-menu ul ul li a {
        font-size: 14px
    }
.newNav.oppenned .responsive-menu > ul{
    opacity: 1;
    height: 400px;
    width: 400px;
    padding: 10px 15px 0;
}

.newNav.oppenned span:nth-child(2){
    overflow: visible;
}

.newNav.oppenned span:nth-child(1){
    transform: rotate(45deg) translateY(12px) translateX(12px);
    margin-top: -11px;
}
.newNav.oppenned span:nth-child(2){
    height: 400px;
    width: 400px;
    left: -160px;
    top: 28px;
    background-color: #444;
}
.newNav.oppenned span:nth-child(3){
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
    margin-top: 20px;
}
.newNav.oppenned li{
    margin-left: 140px;
}
.newNav.oppenned li.active > a,.newNav.oppenned li.selected > a{
	background-color:rgba(0,0,0,.2)
}




.page-title h1 {
    margin: 0;
    font-size: 34px;
}

.page-title h3 {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
}









/* ==========================================================================
  6. TYPOGRAPHY
============================================================================= */

#to-top {
	position:fixed;
	right: 10px;
	bottom: 10px;
	z-index:99;
	cursor:pointer;
	font-size:22px;
	background-color:rgba(0,0,0,.8);
	border-radius: 25px;
	display: none;
	animation: none;
}
#to-top span {
	width: 40px;
	height: 40px;
	text-align:center;
	line-height: 38px;
	display:block;
	color:#fff;
}
.form-control,.c-select{
	border-width: medium;
	padding: 10px 12px;
    height: auto;
	border-color: #d9d9d9;
}

/*Validation for Contact and appointment form*/

span#contact-name-error {
    color: red;
}

input#contact-name.form-control.input-validation-error {
    border: 3px solid red;
}

span#contact-email-error {
    color: red;
}

input#contact-email.form-control.input-validation-error {
    border: 3px solid red;
}

span#contact-phone-error {
    color: red;
}
input#contact-phone.form-control.input-validation-error {
    border: 3px solid red;
}

span#contact-message-error {
    color: red;
}

textarea#contact-message.form-control.input-validation-error {
    border: 3px solid red;
}

span#datepicker-error {
    color: red;
}

span#timepicker-error {
    color: red;
}

span#appointment-first-name-error {
    color: red;
}

input#appointment-first-name.form-control.input-validation-error {
    border: 3px solid red;
}

span#appointment-last-name-error {
    color: red;
}

input#appointment-last-name.form-control.input-validation-error {
    border: 3px solid red;
}

span#appointment-email-error {
    color: red;
}

input#appointment-email.form-control.input-validation-error {
    border: 3px solid red;
}

span#appointment-phone-error {
    color: red;
}

input#appointment-phone.form-control.input-validation-error {
    border: 3px solid red;
}
span#appointment-permit-number-error {
    color: red;
}

input#appointment-permit-number.form-control.input-validation-error {
    border: 3px solid red;
}

/*Validation end for contact and appointment form*/




.transparent{background-color:transparent}
.uppercase{text-transform:uppercase}
.bold{font-weight:bold}
.bolder{font-weight:bolder}
.heavy{font-weight:900 !important}
.light-font{font-weight:300}
.font-15{font-size:15px !important}
.font-20{font-size:20px !important}
.font-25{font-size:25px !important}
.font-30{font-size:30px !important}
.font-35{font-size:35px !important}
.font-40{font-size:40px !important}
.font-45{font-size:45px !important}
.font-50{font-size:50px !important}
.font-55{font-size:55px !important}
.font-60{font-size:60px !important}
.font-70{font-size:70px !important}
.font-80{font-size: 80px;}
.font-90{font-size: 90px;}
.font-100{font-size: 100px;}
.font-110{font-size: 110px;}
.font-120{font-size: 120px;}
.t-left{text-align:left}
.t-center{text-align:center}
.t-right{text-align:right}
.t-justify{text-align:justify}
.no-padding{padding:0}
.vsmall-padding{padding-top:0px;padding-bottom:0px}
.small-padding{padding-top:10px;padding-bottom:10px}
.xs-padding{padding-top:20px;padding-bottom:20px}
.sm-padding{padding-top:50px;padding-bottom:50px}
.md-padding,.section{padding-top:60px;padding-bottom:60px}
.lg-padding{padding-top:110px;padding-bottom:110px}
.xl-padding{padding-top:100px;padding-bottom:90px}
.inner-lg-container{padding:80px}
.row-30-lft{margin-left:-30px}
.wit-bg{background-color:rgba(255,255,255,.7)}
.blk-bg{background-color:rgba(0,0,0,.7)}
.border3px,.icon-bg.border3px:after,.icon-border.border3px:after{border-radius:3px;}
.border5px,.icon-bg.border5px:after,.icon-border.border5px:after{border-radius:5px;}
.rounded{border-radius:5px;}
.circle,.icon-bg.circle:after,.icon-border.circle:after{border-radius:50%;}
.round{border-radius:50em;}
.black-bg hr{border-color:#333}
.darker-bg hr{border-color:#444}
.dark-bg hr{border-color:#555}
.main-bg hr{border-color:rgba(255,255,255,.2)}
.main-bg .heading:after{background-color:rgba(0,0,0,.2)}
.black-tr-bg{background-color:rgba(0,0,0,.7);}
.white-tr-bg{background-color:rgba(255,255,255,.6);}
.with-pad{padding:4rem;margin:0 -15px}
.md-pad{padding: 3rem}
.lg-pad{padding: 5rem}
.xl-pad{padding: 8rem}
.dark-border{border-color:#333 !important}
.lft-border-7{border-left: 5px #ddd solid}
.border-bottom-1{border-bottom: 1px #ddd solid}
.bot-1-border{border-bottom: 1px #ddd solid}
.bot-2-border{border-bottom: 2px #ddd solid}
.bot-3-border{border-bottom: 3px #ddd solid}
.bot-4-border{border-bottom: 4px #ddd solid}
.bot-5-border{border-bottom: 5px #ddd solid}
.wid-4{width:4%}
.wid-5{width:5%}
.wid-10{width:10%}
.wid-20{width:20%}
.wid-30{width:30%}
.wid-40{width:40%}
.wid-50{width:50%}
.wid-60{width:60%}
.wid-70{width:70%}
.wid-80{width:80%}
.wid-90{width:90%}
.wid-100{width:100%}



.tbl{
	display:table;
	margin:auto
}

.pattern-line-1{
	background-image: url('../images/patterns/line-1.png');
}
[class*="pattern-"]{
	background-size:inherit !important;
	background-repeat:repeat !important
}

.tbl{
	display:table;
	margin:auto;
	position:relative;
	z-index:2
}
.tbl-70{width:70%}
.tbl-80{width:80%}
.tbl-90{width:90%}


/* ------------- Parallax --------------- */
.parallax{
	position:relative;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	overflow: hidden;
}
html.safari .parallax{
	background-attachment: scroll;
	background-position: 0 0 !important
}
.parallax-overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:0
}

.ads{
	padding: 22% 30px;
	position: absolute;
	height: 100%;
	left: 15px;
	width: 93%;
	display: table-cell;
	vertical-align: middle;
}
.ads p{
	margin-bottom:5px;
	line-height:1
}
.recent-posts-widget li {
	padding: 17px 0;
	border-top: 1px rgba(0,0,0,0.15) dashed;
	overflow: hidden;
}
.recent-posts-widget li:first-child{
	border-top:0;
	padding-top:0
}
.recent-posts-widget li:first-child{
	border-top:0
}
.recent-posts-widget li .post-img {
	float: left;
	margin-right: 10px;
	max-width: 60px;
	overflow: hidden;
}
.recent-posts-widget li .post-img  img {
	padding: 1px;
	max-width: 95px;
}
.recent-posts-widget li h4 {
	margin-bottom: 3px;
	font-size: 14px;
}
.recent-posts-widget li .meta {
	display: inline-block;
	margin-right: 10px;
	font-size:11px;
	color:#999
}
.recent-posts-widget li .meta i{
	margin: 0 5px 0 0;
}


a, .top-head .logo, .icon-box-1:before, .icon-box-1:after, .portfolio figure img, .port-captions *, .top-nav li li a:after, .logo img, .icon-box-1,.post-item .post-image img,.team-box.box-1 .team-socials:after,.post-item .post-image:before,
.post-item .post-image:after,.team-box.box-1 .team-img,.team-box.box-1 .team-socials,.team-box.box-1 .team-img:before,.rect-angles:before,.rect-angles:after,.rect-angles span:before,.rect-angles span:after,.zoom .img-overlay,
.icon-box-2 i,.team-box.box-1 .team-img img,.icon-box.lg-icon i:after,.icon-box.lg-icon i,.pricing-tbl,.btn,.btn i,.btn span,.header-2 .top-nav > ul > li > a:before,.social-list a i,.social-list a i:before,.social-list a i:after,.accordion h5.acc-head a:after,
.slick-prev, .slick-next,.icon-bg:after,.icon-box i,.slick-center img,.tabs.bottom-border .nav-tabs>li>a:after,.team-box.box-2 .team-socials,.team-box.box-2 .team-img img,.portfolio .port-img:before,.just-gallery img,.lft-tools li,
.top-head.box-head .top-nav > ul > li >a:before{
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.top-nav > ul > li.hasChildren > a > span:after,.child-arrow{
	-webkit-transition:transform 0.3s ease;
	transition:transform 0.3s ease;
}
.header-1 .top-nav > ul > li > a > span:before{
	-webkit-transition:all 0.25s ease-in;
	transition:all 0.25s ease-in;
}
.social-list a{
	float:left;
	display:block;
	line-height:1
}
.social-list a i{
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	text-align:center;
	font-size: 20px;
	display:inline-block;
	line-height: 39px;
	border: 1px solid #ccc;
	overflow: hidden;
	position:relative
}
.social-list a i.dark-bg{
	border-color:transparent
}
.social-list a i.gry-bg{
	border-color:#ddd
}
.social-list a i.ic-colored{border-color:transparent}
.social-list a i:before{
	-webkit-transform: scale(1);
	transform: scale(1);
	display:block;
	-webkit-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.social-list a i:after{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 9999;
	top: 0;
	display: block;
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity:0;
	color:#fff;
	-webkit-transition-delay: 0.2s !important;
	transition-delay: 0.2s !important;
}
.social-list a:hover i{
	background-color:#444;
	border-color: transparent;
}
.social-list a:hover i:before{
	-webkit-transform: scale(2);
	transform: scale(2);
	opacity:0
}
.social-list a:hover i:after{
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity:1
}
.social-list.half-icons a{
	margin: 0 7px 5px 0;
	width: 60% !important;
}
.footer-middle .social-list.half-icons a{
	background: #0B0B0B;
}
.social-list.half-icons i{
	margin: 0;
	float: left;
	border-color: #3C3C3C;
}
.social-list.half-icons span {
    display: inline-block;
    margin: 0;
    line-height: 30px;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}
.skew-nav:before {
    top: 2px;
    height: 43px
}
.skew-nav ul li a span{
	position:relative;
	line-height: 43px;
	display:block;
}
.main-bg:not(.top-bar) .social-list a i{
	border-color: #fff !important;
	color: #fff
}

/* ==========================================================================
  7. FOOTER.
============================================================================= */
.footer-top {
	padding: 10px 0;
	background-color: #0B0B0B;
	color:#999
}
.footer-top p.lg-txt {
	font-size: 22px;
	line-height: 35px;
	margin:0;
	font-family: 'Oswald', sans-serif;
	font-weight: 200
}
.footer-top .btn{
	display:inline-block;
	margin:-10px 0;
	padding:24px 30px;
	font-size:16px;
	border:0
}
.footer-top .skew-btn{
	margin-top:-17px;
	padding: 22px 30px;
}
.footer-top .skew-btn:after{
	left: -9px;
	top: 0px;
	border-width: 0 0px 7px 9px;
}
.footer-top .twitter-text p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height:30px !important
}
.footer-top .twitter-text p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height:30px !important
}
.footer-top .social-list a{
	border:0px !important
}
.footer-top .twitter-pic{
	display:none
}
.bottom-md-footer h4{
	margin:0;
	line-height:30px
}
.bottom-md-footer .social-list a i{
	margin-bottom:0
}
.widget_it_widget_tweets .tweet .loading-container{
	text-align: center;
	padding: 20px 0
}
.footer-middle .widget_it_widget_tweets .timeline-Widget{
	padding: 20px 20px 0;
	background-color: #0B0B0B
}
.twitter-pic{
	text-align:center;
	margin:0 0 15px
}
.twitter-pic img{
	border-radius:50%;
	display:table;
	margin:auto
}
.footer-middle .twitter-pic img{
	border-radius:0px;
}
.twitter-text p{
	margin-bottom:0
}
#loading-container{
	display:table;
	margin:auto
}
.footer-middle {
    padding: 0px 0;
    padding-top: 50px;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #111 url('../images/Car_1.png') repeat-x left bottom;
    background-size: 33.33%;
}
.no-bg{
	background-image:none
}
.footer-bg{
	background-size: 100% 100%;
}
.footer-bg.dark,.footer-bg.dark a,.footer-bg.dark .footer-middle,.footer-bg.dark .bottom-md-footer h4{
	color:#fff
}
.footer-bg .footer-middle{
	background-color:transparent
}
.footer-bg .bottom-md-footer,.footer-bg .footer-bottom,.footer-bg .footer-top{
	background-color:rgba(0,0,0,.3);
}
.footer-bottom.semi.dark{
	background-color:rgba(0,0,0,.4);
	color:#fff;
	font-size: 14px
}
.footer-bottom.semi.dark a{
	color:#fff !important;
	font-weight: bold;
}
.footer-bottom.semi.light{
	background-color:rgba(255,255,255,.4);
	color:#222;
	font-size: 14px
}
.footer-bottom.semi.light a{
	color:#000 !important;
	font-weight: bold;
}
.footer-bg.dark .form-control,.footer-bg.dark .input-group-addon{
	background-color:transparent;
	border-radius:0;
	resize:none;
	color:#fff
}
.recent-posts-footer a {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}

.foot-text-widget p {
	margin-bottom: 0;
}
.footer-middle .container {
	position: relative;
	z-index: 1;
}
.bottom-md-footer{
	padding:20px 5px;
	color: #888;
}
.bottom-md-footer .form-control{
	display:inline-block;
	float:left;
	width:75%;
	background-color:#000;
	border-color:#333;
}
.bottom-md-footer .btn{
	padding:10px 12px;
}
.bottom-md-footer label{
	margin-bottom:10px;
	display:block
}
.boo-nl{
	position:relative;
	margin-top:30px
}
.bottom-md-footer .boo-nl{
	margin-top:0
}
.nl-note{
	position:absolute;
	right:0;
	bottom:2px;
	z-index:9;
	padding:8px 15px;
	margin: 0;
	width: 100%;
	border-radius: 2px
}
.lg-newsletters .form-control{
	width: 75%;
	float: left;
	border-bottom-left-radius: 5em;
    border-top-left-radius: 5em;
    padding: 12px 17px
}
.lg-newsletters .btn{
	width: 25%;
	float: left;
	padding: 13px 10px;
	font-size: 16px;
	text-align: center;
	border-bottom-right-radius: 5em;
    border-top-right-radius: 5em;
}
.abs-icons {
	position: relative;
	overflow: hidden;
	display: inherit;
}
.abs-icons .icon{
	position: absolute;
    top: 3px;
    right: 3px;
    font-size: 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #eee;
    text-align: center;
}
footer .boo-nl .form-control{
	background-color: #0B0B0B;
	border:0;
	border-radius:0;
	width: 100%;
	font-size:12px;
	display: inline-block;
	padding: 0 15% 0 12px;
	height: auto;
	line-height: 35px;
}
footer .boo-nl .btn{
	border:0;
	min-width: 20%;
	font-size: 11px;
	line-height: 33px;
	padding: 0 5px;
	white-space: nowrap;
	position: absolute;
	bottom: 1px;
	right: 1px;
}
footer .boo-nl .nl-note{
	bottom: 38px
}
footer hr{
	border-top: 1px solid #333;
}
.revtp-form .nl-note{
	bottom:auto;
	top:-125%;
	padding:20px
}
.footer-middle h3 {
    font-size: 22px;
    position: relative;
    text-transform: uppercase;
    color: #77CAFF;
    margin-bottom: 10px;
    font-weight: 100;
    letter-spacing: 3px;
    font-weight: 400;
}
.footer-middle h3:after {
	content: "";
	width: 9%;
	height: 2px;
	display: block;
	margin: 15px 0;
}
.footer-middle .menu-widget li {
	padding: 12px 0;
	border-top: 1px rgba(255,255,255,0.05) solid;
	margin-right: 10px;
}
.footer-middle .menu-widget li:first-child {
	border-top: 0;
	padding-top:0
}
.footer-middle .menu-widget li a {
	position: relative;
}
.footer-middle .menu-widget li a:before {
	content: "\f105";
	display: inline-block;
	margin-right: 8px;
	font: normal normal normal 12px/1 FontAwesome;
}

.contact-widget p {
	margin-bottom: 10px;
}
.details li {
	margin: 13px 0;
	line-height: 1.4;
}
.details li i{
	display:table-cell;
	position: relative;
	vertical-align: middle;
}
.details li i:before {
	margin-right: 7px;
	font-size:12px;
	display:inline-block;
}
.details li span {
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
}
.details a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
/* footer tags widget */
.tags li {
	float: left;
	margin: 0 2px 7px;
	
	display: inline-block;
}
.tags li a {
	display: block;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0 10px;
	z-index:1;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	border: 1px #ddd solid;
}
footer .tags li a{
	border: 1px #4c4c4c solid;
	color: #6b6b6b;
}
footer .tags li a {
	color: #bbb;
}
/******* Footer Flickr **********/
.flickr-widget li{
	float:left;
	margin: 0 2px 2px 0;
	position:relative;
	overflow:hidden;
}
.flickr-widget li img, .flickr-widget .img-overlay {
	width: 60px;
	height: 60px;
}
.flickr-widget .img-overlay:before {
	font-size: 22px;
	line-height: 59px;
	height: 59px;
	font-weight: 100;
}
.flickr-widget .flickr{
	height:59px;
	display:block;
	overflow:hidden
}
.flickr-widget .img-overlay,.zoom .img-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background:rgba(0,0,0,.8);
	left:0;
	transform:scale(2);
	-webkit-transform:scale(2);
}
.flickr-widget .img-overlay:before,.zoom .img-overlay:before {
	display: block;
	content: "\f00e";
	text-align: center;
	font-size: 15px;
	font-family: FontAwesome;
	line-height: 60px;
}
.flickr-widget li:hover .img-overlay,.zoom:hover .img-overlay {
	opacity: 1;
	transform:scale(1);
	-webkit-transform:scale(1);
}
.zoom{
	position:relative;
	display:inline-block;
}

/***** tweets widget *****/
.widget_it_widget_tweets iframe,.timeline-Tweet-media{
	display:none !important
}
.timeline-TweetList{
	margin: 0;
	padding: 0;
	list-style: none;
}
#footWrapper .footer-top .stream,#footWrapper .footer-top .top .widget_it_widget_tweets{
	max-height:190px;
	overflow:hidden;
}
.widget_it_widget_tweets .widget-content .stream{
	padding:10px 15px
}
.widget_it_widget_tweets li.h-entry{
	height: 130px !important;
	overflow: hidden;
	border:0px !important
}
.timeline-header,.new-tweets-bar,.timeline-footer,.u-url.permalink.customisable-highlight,.retweet-credit,.inline-media,.footer.customisable-border,.no-more-pane,.widget_it_widget_tweets .load-more{
	display:none
}
.widget_it_widget_tweets .avatar{
	float:left;
	width:50px;
	height:50px;
	margin-right:15px
}
.widget_it_widget_tweets .e-entry-content{
	margin-left:65px
}
.widget_it_widget_tweets .widget-content,.widget_it_widget_tweets .slick-slider{
	overflow:visible
}
.widget_it_widget_tweets .timeline:before{
	display:none
}
.widget_it_widget_tweets .slick-prev,.widget_it_widget_tweets .slick-next{
	top: -50px !important;
	border-radius: 0 !important;
}
.timeline-TweetList li{
	height: 98px !important;
	overflow: hidden;
	margin-bottom: 20px;
	line-height: 1.6
}
.timeline-Tweet-text{
	margin-left: 50px;
	padding-top: 6px;
	font-size: 12px
}
.TweetAuthor {
	line-height: 1;
	font-weight: bold;
}
.TweetAuthor img{
	width: 30px;
	margin-right: 20px !important;
	float: left;
}
.tweets-widget .slick-prev{
	right:10px
}
.footer-middle .widget_it_widget_tweets .slick-prev:before,.footer-middle .widget_it_widget_tweets .slick-next:before{
	width: 30px;
	height: 30px;
	line-height: 30px
}
.footer-middle .widget_it_widget_tweets .slick-prev,.footer-middle .widget_it_widget_tweets .slick-next{
	top:-50px;
	right: -20px;
	background-color: #0B0B0B;
	padding: 0
}
.footer-middle .widget_it_widget_tweets .slick-prev{
	right: 11px
}
.widget_it_widget_tweets .slick-prev{
	right: 31px;
}
.widget_it_widget_tweets .slick-next:before {
	content: "\f106";
	font-size: 14px;
}
.widget_it_widget_tweets .slick-prev:before {
	content: "\f107";
	font-size: 14px;
}

.footer-bottom {
	padding: 15px 0;
	overflow: hidden;
	font-size: 12px;
	color: #999;
	background-color: #0b0b0b;
}
.footer-bottom{
	text-align:center;
	padding-top: 8px;
}
.copyrights {
    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
}
.web-solution {
    display: inline-block;
    float: right;
    padding-top: 5px;
    padding-right: 15px;
}
.footer-menu li {
	float: left;
	padding: 0 0 0 5px;
}
.footer-menu li a{
	display:block;
	padding:4px 8px;
	border:1px transparent solid
}
.footer-menu li a:hover{
	border-color: #232323;
	color: #fff;
}
.footer-menu li:first-child{
	padding:0
}
.footer-menu li a {
	color: #999;
}
.footer-bottom .social-list a i{
	margin-bottom:0;
}
.foot-about-par{
	border-bottom: 1px rgba(255,255,255,0.05) solid;
	padding-bottom:20px;
	margin-bottom: 25px
}
/* footer recent posts widget */
.recent-posts-footer li {
	padding: 10px 0;
	border-top: 1px rgba(255,255,255,0.05) solid;
	overflow: hidden;
}
.recent-posts-footer li:first-child{
	border-top:0;
	padding-top:0
}
.recent-posts-footer li:first-child{
	border-top:0
}
.recent-posts-footer li .post-img {
	float: left;
	margin-right: 10px;
	max-width: 60px;
	overflow: hidden;
}
.recent-posts-footer li .post-img  img {
	padding: 1px;
	max-width: 95px;
}
.recent-posts-footer li h4 {
	margin-bottom: 3px;
	font-size: 13px;
	font-family: inherit;
	font-weight: 600
}
.recent-posts-footer li .meta {
	display: inline-block;
	margin-right: 10px;
	font-size:12px;
	color:#777;
	font-style: italic;
}
.recent-posts-footer li .meta i{
	margin: 0 5px 0 0;
}
#footWrapper.light .black-bg,#footWrapper.light .footer-top:not([class*="-bg"]){
	background-color:#f0f0f0;
	color:#666
}
#footWrapper.light .footer-middle .social-list.half-icons a{
	background-color: #ddd;
	color: #333
}
#footWrapper.light .footer-bottom,#footWrapper.light .footer-middle ul.half-items li span{
	background-color:#eee;
	color:#666
}
#footWrapper.light hr {
    border-top: 1px solid #ccc;
}
#footWrapper.light .footer-middle .menu-widget li {
    border-top: 1px rgba(0,0,0,0.05) solid;
}
#footWrapper.light .footer-middle .menu-widget li:first-child{
	border:0
}
#footWrapper.light .footer-middle h3{
	color:#333
}
#footWrapper.light .tags li a {
    border: 1px #ccc solid;
    color: #555;
}
#footWrapper.light .nl .form-control {
	background-color: #ddd;
}
#footWrapper.light .footer-middle{
	background: #f9f9f9 url('../images/Car_2.png') repeat-x left bottom;
    background-size: 33.33%;
	color:#666
}
#footWrapper.light .no-bg{
	background-image:none
}
#footWrapper.light .footer-menu li a:hover {
    border-color: #ccc;
    color: #555;
}
.fixed-footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:-1
}
.footer-minimal .footer-middle:after {
	display: none;
}
.footer-minimal .footer-bottom {
	padding: 0;
}
.footer-minimal .footer-bottom .copyrights {
	padding: 15px 0 13px;
}
.footer-logo-txt{
	margin: 5px 20px 0;
	width: 40%;
	line-height: 1.7;
}
.minimal-info{
	line-height:25px;
	margin:10px 0 0 0
}
.minimal-info i{
	margin-right:10px
}
.centered{
	margin:auto
}
.footer-minimal .social-list a{
	font-size:15px;
	color:#999;
	margin:8px 4px 0;
}
.footer-minimal .social-list a:hover{
	color:#fff
}
.footer-minimal .sm-padding{
	padding:50px 0 !important
}
.footer-minimal .footer-menu li{
	text-transform:uppercase;
	font-size: 12px;
}
.footer-minimal .footer-menu li a{
	border:1px #444 solid;
}
.footer-minimal .footer-menu li a:hover{
	border:1px #888 solid;
}

.footer-menu li:first-child{
	padding:0
}
ul.half-items li{
	width: 47%;
	margin: 0 3% 5px 0;
}
ul.half-items li span{
	display:inline-block;
	padding: 0 10px;
	position: relative;
	top: -1px;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 30px;
	width: 74%;
}
.footer-middle ul.half-items li span{
	background-color:#343434
}
.input-wrap{
	padding-bottom:8px
}
footer .normal-testimonials{
	border-radius:5px;
}
footer .testimonials-img{
	border-radius:50%;
	display:table;
	margin:15px auto;
	overflow:hidden
}
footer .testimonials-bg p,.testimonials-name{
	font-size:12px;
	padding:0 15px
}
.horizontal-slider{
	/*overflow:hidden;*/
}
.slick-dots, .slider_controls {
	display: table;
	margin: 10px auto;
	padding:0;
	list-style:none
}
.slick-dots li{
	float:left;
	margin:0 5px 0 0
}
.slick-dots li button {
    border: 1px #999 solid;
}
.slick-dots li button {
    height: 12px;
    width: 12px;
    outline: 0;
    line-height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: 0 0;
    display: block;
    padding: 0;
}
.slick-slide img{
	margin:auto
}
.ajax-cont{
	max-width:600px;
	margin:20px auto;
	position:relative
}
.marginelements .slick-slide{
	margin:0 15px;
}
.custom-list{
	list-style:none;
	margin:0;
	padding:0
}
.custom-list li{
	line-height:35px
}
.custom-list li i{
	margin-right:10px;
	font-size:90%
}
.custom-list.style2 li{
	border-bottom:1px #ddd dashed
}
.custom-list.style2 li:last-child{
	border-bottom: 0
}
.custom-list.style3 li i{
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 23px;
	font-size: 10px;
}

.p-a-0{padding: 0 !important}
.p-a-1{padding: 1rem !important}
.p-a-2{padding: 2rem !important}
.p-a-3{padding: 3rem !important}

.p-b-0{padding-bottom: 0 !important}
.p-b-1{padding-bottom: 1rem !important}
.p-b-2{padding-bottom: 2rem !important}
.p-b-3{padding-bottom: 3rem !important}

.p-t-0{padding-top: 0 !important}
.p-t-1{padding-top: 1rem !important}
.p-t-2{padding-top: 2rem !important}
.p-t-3{padding-top: 3rem !important;border-top:1px solid #ccc;}

.p-r-0{padding-right: 0 !important}
.p-r-1{padding-right: 1rem !important}
.p-r-2{padding-right: 2rem !important}
.p-r-3{padding-right: 3rem !important}

.p-l-0{padding-left: 0 !important}
.p-l-1{padding-left: 1rem !important}
.p-l-2{padding-left: 2rem !important}
.p-l-3{padding-left: 3rem !important}

.m-a-0{margin: 0 !important}
.m-a-1{margin: 1rem !important}
.m-a-2{margin: 2rem !important}
.m-a-3{margin: 3rem !important}

.m-b-0{margin-bottom: 0 !important}
.m-b-1{margin-bottom: 1rem !important}
.m-b-2{margin-bottom: 2rem !important}
.m-b-3{margin-bottom: 3rem !important}

.m-t-0{margin-top: 0 !important}
.m-t-1{margin-top: 1rem !important}
.m-t-2{margin-top: 2rem !important}
.m-t-3{margin-top: 3rem !important}

.m-r-0{margin-right: 0 !important}
.m-r-1{margin-right: 1rem !important}
.m-r-2{margin-right: 2rem !important}
.m-r-3{margin-right: 3rem !important}

.m-l-0{margin-left: 0 !important}
.m-l-1{margin-left: 1rem !important}
.m-l-2{margin-left: 2rem !important}
.m-l-3{margin-left: 3rem !important}

.m-t-8px{margin-top: 8px}
.mtop-10{margin-top: -10px}
.m-auto{margin: auto;}
.lg-v-pad li {
	padding: 0 0 8px;
	margin-bottom: 8px;
	overflow: hidden;
	border-bottom: 1px #ddd dashed
}
.lg-v-pad li:last-child{
	border-bottom: 0
}

/* ==========================================================================
  8. BOXED MODE
============================================================================= */
.pageWrapper.boxed{
	position: relative;
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	width: 1170px;
	margin: 20px auto;
	overflow: hidden;
}
.pageWrapper.boxed .rev_slider_wrapper{
	width: 100% !important;
	left: 0 !important
}
.pageWrapper.boxed .fullwidthbanner-container,.pageWrapper.boxed .forcefullwidth_wrapper_tp_banner,.pageWrapper.boxed .fullscreen-container{
	width:100% !important;
	left:0 !important
}
.pageWrapper.boxed .top-head.transparent,.pageWrapper.boxed .top-head.sticky-nav{
	width:auto;
	left:auto;
	top:20px
}
.pageWrapper.boxed .top-head.sticky-nav{
	top:0
}
.pageWrapper.boxed .fixed-footer{
	width:auto;
	left:auto;
}

.abs-img{
	position: absolute;
}
.center-or{
	display: inline-block;
	font-weight: bold;
	padding: 0 10px
}
.boxed .hidden-md{
	width: 2%
}
.boxed .mn-cell{
	width: 85%
}
.sectionspace{height:40px;}
/* ==========================================================================
  9. RESPONSIVE DESIGN
============================================================================= */
@media only screen and (min-width: 992px) and (max-width: 1200px){
	.top-nav > ul > li > a > span, .top-nav > ul > li > span > a > span {
		padding: 0 9px;
		line-height: 94px;
	}
	.team-box.box-3 .back{
		padding: 0 15px !important
	}
}
@media (max-width: 1400px) {
	.side-wrap .container {
	   width: 100% !important;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
	.hidden-md{
		width: 2%
	}
	.mn-cell{
		width: 85%
	}
}
@media (max-width: 1200px){
	.top-head:not(.header-2).top-nav > ul > li > a {
	    margin: 0 2px 0 0 !important;
	}
	.social-list.half-icons a{
		width: 45%
	}
	.social-list.half-icons span{
		padding: 0 4px;
	}
	.mn-cell{
		width: 100%;
	}
	.md-pd-40{
		padding-left: 40px;
		padding-right: 80px
	}
	.pageWrapper.boxed {
		width: auto;
		margin:auto
	}
	.pageWrapper.boxed .top-head.transparent,.pageWrapper.boxed .top-head.sticky-nav,.pageWrapper.boxed .fixed-footer{
		width:100%;
		left:0
	}
	.fullscreen-box .not-found-form .form-control{
		width: 83.5%
	}
}

@media (max-width: 992px) {
    .with-pad {
        margin: 0px -36px;
    }
	.top-head:not(.header-1).top-nav > ul > li {
	    padding: 0 3px;
	}
	.top-nav > ul > li > a > span, .top-nav > ul > li > span > a > span {
	    padding: 0 10px;
	}
	.header-1.skew .top-nav > ul > li:hover > a > span:before, .header-1.skew .top-nav > ul > li.selected > a > span:before {
	    top: -1px;
	    height: 51px;
	    left: 0;
	}
	.row-eq-height{
    	display: block;
    }
	.row-30-lft{margin-left:0}
	.top-head .logo img, .top-bar .f-right, .top-bar .f-left{
		display: table-column;
		margin: 0 auto;
		float: none;
		text-align: center;
		border-right: 0 !important;
		padding: 10px 0 !important;
		height: 100px;
	}
    .top-head .title {
        position: relative;
        float: left;
        padding-top: 34px;
        padding-left: 10px;
    }
    .title h1 {
        font-size: 30px;
    }
	.title h4{
		line-height: 15px;
    	font-size: 20px;
	}
	.title a{
		display:block
	}
	.sticky-nav.header-1 .logo,.top-head:not(.header-1).sticky-nav .logo{
		padding:10px 0 !important;
	}
	.sticky-nav .logo img{
		max-height: 150px !important;
		top: 0 !important
	}
	.video-section .video-wrap{
		top:0 !important;
	}
	.top-head.skew:before {
    	top: auto;
    	bottom: 23px;
    }
    .fullscreen-box .not-found-form .form-control{
		width: 78.5%
	}
    .steps-1-container [class*="col-sm-"],.steps-1-container [class*="col-md-"],.steps-1-container [class*="col-lg-"]{
    	display: table;
    	margin: 0 auto 20px;
    	width: 80%;
    	float: none;
    }
    .skew .logo:before,.top-bar.right-pos.gry-bar:before,.icon-boxes-1:before, .icon-boxes-1:after,.icon-boxes-1 [class*="col-md-"]:before, .icon-boxes-1 [class*="col-md-"]:after,.steps-1-container:before,
    .steps-1 i:after, .steps-1 h4:before,.steps-1 h4:after,.timeline:before,.dl-back{
		display:none !important
	}
	.steps-1{
		overflow: hidden;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px rgba(0,0,0,.1) dashed
	}
	.steps-1 h4,.steps-1 i{
		float: left;
	}
	.steps-1 p{
		margin: 15px 0 0 0;
		float: right;
		display: table;
		width: 44%;
	}
	.steps-1.alter i,.steps-1.alter h4{
		float: right;
	}
	.steps-1 i{
		margin: 0 20px 0 0 !important
	}
	.steps-1 h4{
		padding: 15px 20px 10px 0 !important
	}
	.steps-1.alter h4{
		padding: 15px 0 10px 20px !important
	}
	.steps-1.alter i{
		margin: 0 0 0 20px !important
	}
	.steps-1.alter p{
		padding: 0;
		float: left;
	}
	.testimonials-1{
		margin: 0 !important
	}
	.inner-tiles{
		padding: 0;
		margin: 0 -15px
	}
	.absolute-top-bar.right-pos,.top-bar.right-pos,.abs-img,.med-top-cell{
		position:static !important;
		display: table;
		margin: auto;
		float:none
	}
	.skew .logo:after {
	    transform: skew(0deg, 0deg);
	    -webkit-transform: skew(0deg, 0deg);
	}
	.header-2 .responsive-nav{
		display:table;
		margin:10px auto 0;
		float:none;
	}
	.header-2.top-head .logo{
		display:block
	}
	.top-bar.right-pos{
	    border-radius: 50em;
	    padding-right:5px;
	    margin-top:5px
	}
	.icon-box-2 .icon-desc{
		margin: 0 0px -63px 7px !important;
	}
	.team-box.box-3,.feature-img{
		height: auto !important;
		width: 50%;
		display: table;
		margin: 0 auto 30px;
	}
	.team-box.box-3 .top,.team-box.box-3 .bottom{
		background-image: none !important;
	}
	.team-box.box-3 .tm-img{
		display: block;
	}
	.cta_btn{
		text-align: center;
	}
	.cta_btn .f-left,.cta-right,.cta-left{
		float: none;
	}
	.cta-right,.cta-left{
		display: table !important;
		margin: 0 auto 10px;
	}
	.cta_btn a.btn,.bottom-head{
		margin: 15px auto 0;
		float: none;
		display: table;
	}
	h4.cta_heading{
		margin-top: 15px
	}
	.icon-box-1,.post-item,.pricing-tbl{
		margin-bottom: 20px
	}
	#footWrapper [class*="col-md-"]{
		margin-bottom: 20px;
		clear: both;
		overflow: hidden;
	}
    .footer-menu.f-right, .copyrights, .web-solution {
        float: none;
        margin: auto;
        display: table;
        text-align: center;
        padding: 5px 0px 0px 0px;
    }
	.footer-top .skew-btn{
		display: table;
		margin:auto;
		float: none; 
	}
	.footer-top p.lg-txt{
		line-height: normal;
		text-align: center;
		margin-bottom: 20px
	}
	.parallax{
		background-repeat: repeat-y;
	}
	.social-list.half-icons a{
		width: 47%
	}
	.social-list.half-icons span{
		padding: 0 11px;
	}
	[class*="col-md-"].f-right{
		clear: both;
		float: none;
	}
	[class*="col-md-"]{
		clear: both;
	}
	.timeline .post-item{
		width: 100% !important;
		float: none !important;
	}
	.timeline .post-item .timeline_date{
		position: static !important;
	}
	.timeline .post-item .timeline_date .inner_date{
		border-radius: 0 !important
	}
	.timeline .post-item .timeline_date,.near-cell{
		margin-bottom: 15px !important
	}
	.img-div{
    	position: static !important;
    	min-height: 250px
    }
    .icon-box.simple,.icon-box-2,.icon-box{
    	margin: 15px !important
    }
    [class*="-cols"] .portfolio-item{
    	width: 32.3333% !important
    }
    .ads,.center-v-menu{
    	position: static !important;
    	margin: 0 auto 30px;
    	display: table;
    	width: 100%
    }
    .wid-50,.wid-40,.wid-30,.wid-20,.wid-10{
    	width: 90% !important
    }
    .responsive-nav,.top-head.skew:before,.header-left,.header-right{
		display:none !important;
	}
	.left-s.side-wrap,.right-s.side-wrap,.near-cell{
		margin-left: 0 !important;
		margin-right: 0 !important
	}
	.newNav{
		display:block
	}
	.responsive-menu ul ul{
		width: auto !important;
	}
	.camera_wrap{
		margin-bottom: 100px !important;
	}
}

@media (max-width: 768px) {
	[class*="col-md-"]{
		clear: both;
	}
	.icon-box-2 .icon-desc:after{
		border-width: 0 !important;
	}
	.icon-box-2 .box-number{
		padding:20px 0
	}
	.icon-box-2 .icon-desc i{
		bottom:15px
	}
	.icon-box-2 .icon-desc{
		padding:30px 10px 90px
	}
	.team-box.box-3,.feature-img{
		width: 60% !important;
	}
	.filter-by.style2 ul li a span{
		padding-top: 10px !important;
		padding-bottom: 10px !important
	}
	.not-found-form .form-control{
		width: 100%;
		margin-bottom: 5px
	}
	.not-found-form .btn{
		width: 100%;
		display: block;
	}
	[class*="-cols"] .portfolio-item {
	    width: 49% !important;
	}
}
@media (max-width: 640px) {
	[class*="-cols"] .portfolio-item {
	    width: 100% !important;
	    margin: 0 0 1%
	}
}
@media (max-width: 480px) {
    
	.md-pd-40 {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.steps-1-container [class*="col-sm-"],.steps-1-container [class*="col-md-"],.steps-1-container [class*="col-lg-"]{
    	display: table;
    	margin: 0 auto 20px;
    	width: 100%
    }
    .team-box.box-3,.feature-img{
		width: 100% !important;
	}
	.filter-by ul li a span{
		padding: 0 10px !important
	}
	.filter-by ul li{
		margin-bottom: 15px
	}
	.font-70{font-size:20px;
	}
    .title h1 {
        font-size: 24px;
    }

    .title h4 {
        font-size: 17px;
    }

    .top-head .logo img, .top-bar .f-right, .top-bar .f-left {
        display: table-column;
        margin: 0 auto;
        float: none;
        text-align: center;
        border-right: 0 !important;
        padding: 10px 0 !important;
        height: 90px;
    }

    .top-head .title h1, h4 {
        line-height: 15px;
    }

    .top-head .title {
        position: relative;
        float: left;
        padding-top: 33px;
        padding-left: 5px;
    }
    .icon-box.simple, .icon-box-2, .icon-box {
        margin: 15px -10px !important;
    }
}

@media (max-width: 384px) {
    .post-item .lft-tools{
    	float: none;
    	margin: -20px 0 10px;
    	width: auto;
    	overflow: hidden;
    }
    .post-item .lft-tools ul{
    	display: table;
    	width: 100%
    }
    .post-item .lft-tools li{
    	display: table-cell;
    	text-align: center;
    	border-top-width: 0px !important;
    	font-size: 0px
    }
    .post-item-rit{
    	margin: 0 0 0 0;
    }
    .steps-1.alter p{
    	width: 30%
    }
    .title h1 {
        font-size: 16px;
    }
    .title h4 {
        font-size: 12px;
    }
    .top-head .logo img, .top-bar .f-right, .top-bar .f-left {
        display: table-column;
        margin: 0 auto;
        float: none;
        text-align: center;
        border-right: 0 !important;
        padding: 10px 0 !important;
        height: 75px;
    }
    .top-head .title h1, h4 {
        line-height: 0px;
    }
    .top-head .title {
        position: relative;
        float: left;
        padding-top: 38px;
        padding-left: 5px;
    }
    h4.cta_heading.white {
        font-size: 14px;
    }
    h2.cta_heading.uppercase.white {
        font-size: 19px;
    }
    .icon-box.simple, .icon-box-2, .icon-box {
        margin: 0px -53px !important;
    }
}

.bluebold{color:#26abff;}
.list-group-item .bluebold{color:#0067cb;}
.recent-posts-footer img{
    max-height:100% !important;
    width: auto;
    margin:0% auto !important;
    opacity: 0.4;
}
.gallery_img img{max-height: 100% !important;
    margin: 0% auto;}
	.rightfloat{ float:right;
	margin:5px; border:1px solid #ccc;
	}
	.fa-2x {
    font-size: 1.3em !important;
    
}
.homenav li i{color:#444 !important;
}
.homenav li span:hover i{color:#fff !important;}
.fa-home {
    margin-right: 0px !important;
}
.marginbot30{ margin-bottom:30px;}
.footerlink{ margin-left:30px;}
.toast-top-center {
    position:absolute;
    top: 40% !important;
    left: 0% !important;
    margin: 0 auto !important;
}