<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--Google ReCaptcha-->
    <add key="ContactSiteKey" value="6LeyHecUAAAAALULvwgSQs0NSHUm_kw82No1v3N8" />
    <add key="ContactSecretKey" value="6LeyHecUAAAAAN1i7W82JtEMJ6IS0h3bdoInlUMc" />
    <add key="AppointmentSiteKey" value="6LfbHecUAAAAAOrDw29N_q2QWPC4cI-1xaJXxMMo" />
    <add key="AppointmentSecretKey" value="6LfbHecUAAAAACoDdtC8RXpY2rrpvQVo17CYk-kl" />
    
    <!--Email Address-->
    <add key="AdminEmailAddress" value="admin@lhdrivingschool.com" />
    <add key="InfoEmailAddress" value="info@lhdrivingschool.com" />
    <add key="EmailFrom" value="noreply@lhdrivingschool.com" />
    <add key="ErrorEmailTo" value="developer@lhdrivingschool.com" />
    <add key="TestEmailAddress" value="rquadir@gmail.com" />
    <add key="SMTPClient" value="mail.lhdrivingschool.com" />
    <add key="MailSendingCredentialEmail" value="noreply@lhdrivingschool.com" />
    <add key="MailSendingCredentialPassword" value="noreply!234" />
  
    <!--Social Links-->
    <add key="Facebook" value="https://www.facebook.com/learning.hub.driving.school/" />
    <add key="Twitter" value="https://twitter.com/LHDrivingSchool/" />
    <add key="Instagram" value="https://www.instagram.com/learning.hub.driving.school/" />
    <add key="linkedin" value="https://www.linkedin.com/in/learning-hub-driving-school/" />
    
    <!--Google Map-->
    <add key="GoogleMap" value="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53504.28006746682!2d-96.76625103079903!3d33.05600599671638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c181490a187ab%3A0x7a49fe62c2f8068b!2sPlano%2C%20TX%2075023%2C%20USA!5e0!3m2!1sen!2sbd!4v1577960807457!5m2!1sen!2sbd" />
    
    <!--Contact Section-->
    <add key="Email" value="mailto:info@lhdrivingschool.com" />
    <add key="Phone" value="972 372 4120" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain" />
    </staticContent>
    <!-- <rewrite> -->
    <!-- <rules> -->
    <!-- <rule name="HTTP to HTTPS redirect" stopProcessing="true"> -->
    <!-- <match url="(.*)" /> -->
    <!-- <conditions> -->
    <!-- <add input="{HTTPS}" pattern="off" ignoreCase="true" /> -->
    <!-- </conditions> -->
    <!-- <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" /> -->
    <!-- </rule>             -->
    <!-- </rules> -->
    <!-- </rewrite> -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear/>
      <!--<error statusCode="400" path="Media\Documents\Errors\Bad-Request.html" responseMode="File" />
      <error statusCode="401" path="Media\Documents\Errors\Not-Authorized.html" responseMode="File" />
      <error statusCode="403" path="Media\Documents\Errors\Forbidden.html" responseMode="File" />
      <error statusCode="404" path="Media\Documents\Errors\Not-Found.html" responseMode="File" />
      <error statusCode="500" path="Media\Documents\Errors\Exception.html" responseMode="File" />-->
      <error statusCode="503" path="app_offline.htm" responseMode="File" />
    </httpErrors>
  </system.webServer>
  
</configuration>