
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title1 = "Learning Hub Driving School";
    ViewBag.Title2 = "About Us";
    ViewBag.Title3 = "Best driving school";
}
<div class="pageContent">
    <div class="p-t-3">
        <div class="container">
            <div>
                <div class="heading main centered" itemprop="headline">
                    <h3 class="uppercase lg-title"><span class="main-color">About </span> Us </h3>
                </div>

                <div class="first-paragraph" itemprop="about" itemscope itemtype="http://schema.org/Article">
                    <p>Nowadays it is more difficult to find the best driving school or instructor near us. It is more important to identify the ideal driving school. Don't worry, we have the best driving school in <a href="https://en.wikipedia.org/wiki/Texas" target="_blank"><b>Texas</b></a>. It is a safe and reliable driving school. We have a range of driving lessons in <a href="https://en.wikipedia.org/wiki/Plano%2C_Texas" target="_blank"><b>Plano, Texas</b></a> 75023 to suit your needs. We taught learners everything in a friendly environment. Our driving instructors are fully qualified.</p>
                </div>

                <div class="second-paragraph" itemprop="about" itemscope itemtype="http://schema.org/Article">
                    <p>We have split our courses into a few categories like - adult driver programs, senior driver programs and so on. <a href="/"><b><i>Learning Hub Driving School</i></b></a> is the most individual and flexible way to improve your skills, giving you the freedom to define what aspects of your driving you want to improve and what targets you are looking to gain.</p>
                </div>

                <div class="third-paragraph" itemprop="about" itemscope itemtype="http://schema.org/Article">
                    <p>Our courses are decorated to build confidence in all of our learner drivers at a motion that suits you. This approach ensures that not only you’ll progress quickly – but also that you’ll get the absolute outcome from your money. Our programs are offered for all our learners at an affordable and reasonable cost. We providing you with the right <a href="https://en.wikipedia.org/wiki/Driver%27s_education" target="_blank"><b>driver’s education</b></a> that help's you to earn your <a href="https://www.dps.texas.gov/administration/driver_licensing_control/rolodex/search.asp" target="_blank"><b>driver’s license</b></a> easily. If you looking for Best Ideal Driving School in <a href="https://en.wikipedia.org/wiki/Texas" target="_blank"><b>Texas</b></a>, <a href="/"><b><i>Learning Hub Driving School</i></b></a> would be the best choice for you. If you have any questions or concerns, please give us a call at 972 372 4120. Our operating hours are 9:00 AM to 6:00 PM / 7 Day.</p>
                </div>
            </div>
        </div> 
     </div>
</div>