
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title = "Long Horn Driving School :: About Us";
}
<div class="pageContent">
    <div class="p-t-3">
        <div class="container">
            <div>
                <div class="heading main centered">
                    <h3 class="uppercase lg-title"><span class="main-color">About </span> Us </h3>
                </div>

                <div class="first-paragraph">
                    <p>Nowadays it is more difficult to find the best driving school or instructor near us. It is more important to identify the ideal driving school. Don't worry, we have the best driving school in Texas. It is a safe and reliable driving school. We have a range of driving lessons in Plano Texas 75023 to suit your needs. We taught learners everything in a friendly environment. Our driving instructors are fully qualified.</p>
                </div>

                <div class="second-paragraph">
                    <p>We have split our courses into few categories like - the adult driver programs, senior driver programs and so on. Long Horn Driving School is the most individual and flexible way to improve your skills, giving you the freedom to define what aspects of your driving you want to improve and what targets you are looking to gain.</p>
                </div>

                <div class="third-paragraph">
                    <p>Our courses are decorated to build confidence in all of our learner drivers at a motion that suits you. This approach ensures that not only you’ll progress quickly – but also that you’ll get the absolute outcome from your money. Our programs are offered for all our learners at an affordable and reasonable cost. We providing you with the right driver’s education that help's you to earn your driver’s license easily. If you looking for Muslim driving school or Asian best ideal driving school in Texas, Long Horn Driving School would be the best choice for you. If you have any questions or concerns, please give us a call at 972 372 4120. Our operating hours are 9:00 AM to 6:00 PM / 7 Day.</p>
                </div>
            </div>
        </div> 
     </div>
</div>