
@{
   // ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    Page.Title = "Long Horn Driving School :: About Page";
}

<!---------------------------------

    Banner Area start

 -------------------------------------->

<section>
    <img src=@Url.Content("/Content/img/about/banner.png") width="100%" height="550px" alt="">

></section>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/home/aboutService1">SERVICE 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/aboutService2">SERVICE 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/aboutService3">SERVICE 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/aboutService4">SERVICE 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/aboutService5">SERVICE 5</a>
                </li>


            </ul>
        </div>
    </div>
</nav>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src=@Url.Content("/Content/img/about/about.png") width="100%" alt="">
            ></div>
            <div class="col-md-6">
                <h3>Dummy Header Text Dummy Header Text Dummy Header Text Dummy Header Text</h3><hr>
                <p>Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text</p>


                <h3>Dummy Header Text Dummy Header Text</h3><hr>
                <p>
                    Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text
                    <ul>
                        <li> Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text </li>
                    </ul>
                </p>


            </div>

        </div><!-- row end-->

    </div><!-- container end -->
</section>

