@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title1 = "Learning Hub Driving School";
    ViewBag.Title2 = "Third Party Skills Test (TPST)";
    ViewBag.Title3 = "Driving Test";
}
<div class="pageContent">
    <div class="page-title parallax" style="background-image:url('/Content/assets/images/bgs/service/services-11.jpg');padding: 175px 0" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="tbl p-a-3 black-tr-bg m-l-0" itemprop="additionalType">
                <h1 class="uppercase white font-60">Driving Test</h1>
                <h3 class="white font-30">Leave sooner, drive slower, live longer</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="md-padding section-bg-2 fixed-bg">
            <div class="container">
                <div class="heading main centered" itemprop="headline">
                    <h3 class="uppercase lg-title">Driving<span class="main-color">&nbsp;Test</span></h3>
                </div>
                <div class="m-b-1">
                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <i class="fa fa-car sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">Pre-Driving Test</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px">We do Driver's License pre-test practice for better certainty for real driving test.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <i class="fa fa-car sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">TPST Road Test</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px">We will organize third party road test.</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
