
@{
    //ViewBag.Title = "DriversEducation";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    Page.Title = "Long Horn Driving School :: Drivers Education Page";
}


<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src=@Url.Content("/Content/img/about/about.png") width="100%" alt="">
                >
            </div>
            <div class="col-md-6">
                <h3>Dummy Header Text Dummy Header Text Dummy Header Text Dummy Header Text</h3><hr>
                <p>Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text</p>


                <h3>Dummy Header Text Dummy Header Text</h3><hr>
                <p>
                    Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text
                    <ul>
                        <li> Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text </li>
                        <li> Dummy Paragraph Text Dummy Paragraph Text Dummy Paragraph Text </li>
                    </ul>
                </p>


            </div>

        </div><!-- row end-->

    </div><!-- container end -->
</section>

