@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title1 = "Learning Hub Driving School";
    ViewBag.Title2 = "In Car Training";
    ViewBag.Title3 = "Behind the wheel";
}
<div class="pageContent">
    <div class="page-title parallax" title="In Car Training" style="background-image:url('/Content/assets/images/bgs/service/services-5.jpg');padding: 175px 0" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="tbl p-a-3 black-tr-bg m-l-0" itemprop="additionalType">
                <h1 class="uppercase white font-60">In Car Training</h1>
                <h3 class="white font-30">Our finest work comes through service to others</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="md-padding section-bg-2 fixed-bg">
            <div class="container">
                <div class="heading main centered" itemprop="headline">
                    <h3 class="uppercase lg-title">Behind<span class="main-color">&nbsp;The Wheel</span></h3>
                </div>
                <div class="m-b-1">
                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <i class="fa fa-cogs sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">Learn to drive safely, with confidence and precision</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px">Students will learn the basic driving skills to operate a motor vehicle SAFELY and proper driving techniques. The course includes DMV drive test preparation and an introduction to defensive driving. The program is divided into 2-hour sessions.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <i class="fa fa-user sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">Our Driving Instructors</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px">We have certified Professional Instructors. All of our instructors have a genuine concern for traffic safety and are dedicated to helping develop the necessary skills to become a defensive driver.</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <i class="fa fa-usd sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">Fees: Behind the-Wheel Training Program</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px"> 6 Hours Lessons + Car fee for Road test --> $320.00 <br> 8 Hours Lessons + Car fee for Road test --> $400.00 <br> 10 Hours Lessons + Car fee for Road test --> $460.00 <br> 2 Hours Practice + Car fee for Road test --> $200.00 </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <i class="fa fa-flag sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">Prerequisite</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px">Must have a valid, Texas Learner’s Permit to schedule.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
