@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title1 = "Learning Hub Driving School";
    ViewBag.Title2 = "Home";
    ViewBag.Title3 = "Ideal driving school in Plano, Texas";
}
<!-- Responsive slider - START -->
<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
    <div class="slides" data-group="slides">
        <ul>
            <li>
                <div class="slide-body" data-group="slide">
                    @*<div class="parallax-overlay" style="background-color:rgba(0,0,0,.74);"></div>*@
                    <img src=@Url.Content("/Content/assets/images/bgs/slider/slide-1.jpg") alt="Driving school slider no 1" title="Slider no 1" />
                    <div class="holdcenter">
                        <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300" itemprop="additionalType">
                            <h1>
                                Welcome To<br>
                                <span class="blue">Learning Hub Driving School</span>
                            </h1>
                            <a href="incartraining" class="btn main-bg btn-lg btn-3d uppercase">Learn more</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="slide-body" data-group="slide">
                    @*<div class="parallax-overlay" style="background-color:rgba(0,0,0,.74);"></div>*@
                    <img src=@Url.Content("/Content/assets/images/bgs/slider/slide-11.jpg") alt="Driving school slider no 2" title="Slider no 2" />
                    <div class="holdcenter">
                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300" itemprop="additionalType">
                            <h1>
                                Our Vision<br>
                                <span class="blue">Vision is the true creative rhythm</span>
                            </h1>
                            <a href="vision" class="btn main-bg btn-lg btn-3d uppercase">Read more</a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="slide-body" data-group="slide">
                    @*<div class="parallax-overlay" style="background-color:rgba(0,0,0,.74);"></div>*@
                    <img src=@Url.Content("/Content/assets/images/bgs/slider/slide-5.jpg") alt="Driving school slider no 3" title="Slider no 3" />
                    <div class="holdcenter">
                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300" itemprop="additionalType">
                            <h1>
                                Our Commitment<br>
                                <span class="blue">Commitment is an act, not a word</span>
                            </h1>
                            <a href="commitment" class="btn main-bg btn-lg btn-3d uppercase">Read more</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <a class="slider-control left" href="#" data-jump="prev"><</a>
    <a class="slider-control right" href="#" data-jump="next">></a>
</div>
<!-- Responsive slider - END -->
