@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title1 = "Learning Hub Driving School";
    ViewBag.Title2 = "Vision";
    ViewBag.Title3 = "Safe and reliable driving school";
}
<div class="pageContent">
    <div class="page-title parallax" style="background-image:url('/Content/assets/images/bgs/service/services-6.jpg');padding: 150px 0" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="tbl p-a-3 black-tr-bg m-l-0" itemprop="additionalType">
                <h1 class="uppercase white font-60">Vision</h1>
                <h3 class="white font-30">Hold the vision, trust the process</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="md-padding section-bg-2 fixed-bg">
            <div class="container">
                <div class="heading main centered" itemprop="headline">
                    <h3 class="uppercase lg-title">Our<span class="main-color">&nbsp;Vision</span></h3>
                </div>
                <div class="m-b-1">
                    <div class="col-md-6 fx" data-animate="bounceInUp" data-animation-delay="300">
                        <div class="icon-box simple with-pad m-b-0 white-tr-bg" itemprop="description">
                            <i class="fa fa-eye sm-icon icon-bg dark-bg border3px"></i>
                            <div class="icon-simple-desc">
                                <h4 class="uppercase main-color" style="line-height: 22px;">Our vision for the learners</h4>
                                <h5 style="font-size: 18px; line-height: 25px; margin-top: 10px">DRIVING is one of the MOST IMPORTANT SKILLS that a person can possess in his or her lifetime. With excellent driver education and driver training we can make a difference and assist in minimizing traffic collisions. Safety is our highest priority.</h5>
                                <a href="@Url.Content("~/")" class="btn main-bg btn-lg btn-3d uppercase">Go back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
